.form-container{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}
.form-container input,select{
    width: 200px;
    padding: 3px;

    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    text-align: left;

}
.row1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.form-container label{
    font-weight: 600;
    letter-spacing: 1px;
}
.form-container button{
    width: 100px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(197, 197, 197);
    background-color: aquamarine;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}